extends layout

block main-content
  .lottie-container
    dotlottie-player(
      src="https://lottie.host/1d3fcaaa-05a4-43b0-93ac-80a291cec315/baPpGDhbrI.lottie",
      background="transparent",
      speed="1",
      style="width: 100%; height: auto",
      loop,
      autoplay
    )
    
    
    h1.overlay-text Earth vs. Mars Weather: A Comparative Look
      form(action="/weather" method="POST")
        input(type="text" name="city" placeholder="Enter city name" required)
        button(type="submit") Get Weather 
        br
