block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | Test website
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
    block scripts
      script(
      src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs",
      type="module"
  )
  body
    header#header 
      .header-content   
        h2#site-name 
          a(href="/") Test site 
    main#main 
      block main-content 
    footer#footer 
      p &copy; Copyright Earth V.S. Mars.