extends layout 

block main-content
  h1.page-title Mars Weather Report
    if weatherData
      each sol in Object.keys(weatherData)
        if weatherData[sol].AT
          p Sol #{sol}
          p Temperature: #{weatherData[sol].AT.av} °C
          p Pressure: #{weatherData[sol].PRE.av} Pa
          p Wind Speed: #{weatherData[sol].HWS.av} m/s
